@{
    ViewBag.Title = "About Centric Consulting";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The firm was founded in 1999.  Centric's motto is "be a good person, provide value, lead with your heart, care for others, and make time for those around you."They havae over 1,000 employees. Their locations are in the United States and India.</p>

